.bg-shape-border-custom {
  height: 500px;
  width: 500px;
  background-image: url("../../assets/images/shape/blur-c.png");
  animation: animate_c 5s ease-in-out infinite;
}
.bg-shape-border-custom_c {
  height: 500px;
  width: 500px;
  background-image: url("../../assets/images/shape/blur-h.png");
  animation: animate_h 3s ease-in-out infinite;
  background-attachment: fixed;
  animation-delay: 1s;
}

@keyframes animate_h {
  0% {
    background-size: 360px;
  }
  50% {
    background-size: 500px;
  }
  100% {
    background-size: 360px;
  }
}
@keyframes animate_c {
  0% {
    background-size: 360px;
  }
  50% {
    background-size: 600px;
  }
  100% {
    background-size: 360px;
  }
}
